<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>273426410615-p659ou4hdbu7cjri3bnodctte21h2c6b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273426410615-p659ou4hdbu7cjri3bnodctte21h2c6b</string>
	<key>API_KEY</key>
	<string>AIzaSyAfwK00xlzA2uSCwSeefY9UCV1pMgd3X2A</string>
	<key>GCM_SENDER_ID</key>
	<string>273426410615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ngan.ex-imessage-2</string>
	<key>PROJECT_ID</key>
	<string>ngan-ex1</string>
	<key>STORAGE_BUCKET</key>
	<string>ngan-ex1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:273426410615:ios:e386c58b9c2092c8</string>
	<key>DATABASE_URL</key>
	<string>https://ngan-ex1.firebaseio.com</string>
</dict>
</plist>